<div class="text-center">
  <h1>マイページ</h1>

  <h3 class="float-left">登録情報</h3>
  <%= link_to "編集する", customers_edit_path, class: "btn btn-success float-left" %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" class="table-active">姓&nbsp/&nbsp名</th>
        <td scope="col"><%= current_end_user.last_name %>&nbsp&nbsp<%= current_end_user.first_name %></td>
      </tr>
      <tr>
        <th scope="col" class="table-active">セイ&nbsp/&nbspメイ</th>
        <td scope="col"><%= current_end_user.last_name_kana %>&nbsp&nbsp<%= current_end_user.first_name_kana %></td>
      </tr>
      <tr>
        <th scope="col" class="table-active">メールアドレス</th>
        <td scope="col"><%= current_end_user.email %></td>
      </tr>
      <tr>
        <th scope="col" class="table-active">郵便番号</th>
        <td scope="col"><%= current_end_user.postal_code %></td>
      </tr>
      <tr>
        <th scope="col" class="table-active">住所</th>
        <td scope="col"><%= current_end_user.address %></td>
      </tr>
      <tr>
        <th scope="col" class="table-active">電話番号</th>
        <td scope="col"><%= current_end_user.telephone_number %></td>
      </tr>
    </thead>
  </table>
  <div class="float-left">
    <h4>
      配送先&nbsp&nbsp&nbsp&nbsp
      <%= link_to "一覧を見る", addresses_path, class: "btn btn-primary" %>
    </h4>
    <h4>
      注文履歴
      <%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %>
    </h4>
  </div>
</div>
