<% if end_user_signed_in? %>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><%= link_to "NaganoCake", root_path %></h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <div class="inline-block" style="display:inline-block;">
        <%= form_tag(items_path, method: :GET) do %>
          <%= text_field_tag :search %>
          <%= submit_tag "検索", class: "btn btn-primary" %>
        <% end %>
      </div>
      <%= link_to "商品一覧", items_path, class: "p-2 text-dark" %>
      <%= link_to "マイページ", customers_show_path, class: "p-2 text-dark" %>
      <%= link_to "カート", cart_items_path, class: "p-2 text-dark" %>
    </nav>
    <%= link_to "ログアウト", destroy_end_user_session_path, method: :delete, class: "btn btn-outline-primary" %>
  </div>
<% elsif admin_signed_in? %>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><%= link_to "NaganoCake", admin_path %></h5>
    <nav class="my-2 my-md-0 mr-md-3" style="display:inherit;" >
      <%= link_to "商品一覧", admin_items_path, class: "p-2 text-dark" %>
      <%= link_to "会員一覧", admin_end_users_index_path, class: "p-2 text-dark" %>
      <%= link_to "注文履歴一覧", admin_orders_path, class: "p-2 text-dark" %>
      <%= link_to "ジャンル一覧", admin_genres_path, class: "p-2 text-dark" %>
      <div class="inline-block" style="display:inline-block;">
        <%= form_tag(admin_items_path, method: :GET) do %>
          <%= text_field_tag :search %>
          <%= submit_tag "検索", class: "btn btn-primary" %>
        <% end %>
      </div>
    </nav>
    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-primary" %>
  </div>
<% else %>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><%= link_to "NaganoCake", root_path %></h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <%= link_to "商品一覧", items_path, class: "p-2 text-dark" %>
      <%= link_to "新規登録", new_end_user_registration_path, class: "p-2 text-dark" %>
    </nav>
    <%= link_to "ログイン", new_end_user_session_path, class: "btn btn-outline-primary" %>
  </div>
<% end %>
